
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root, .light {
    --background: 0 0% 98%; /* Casi blanco */
    --foreground: 240 10% 3.9%; /* Casi negro */
    
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    
    --primary: 120 60% 25%; /* Verde oscuro */
    --primary-foreground: 0 0% 100%; /* Blanco */
    
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 10% 3.9%;
    
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 10% 3.9%;
    
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --success: 142 71% 41%;
    --success-foreground: 0 0% 100%;

    --warning: 38 92% 50%;
    --warning-foreground: 0 0% 100%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 120 60% 25%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%; /* Negro */
    --foreground: 0 0% 98%; /* Casi blanco */
    
    --card: 48 8% 28%; /* Beige oscuro */
    --card-foreground: 0 0% 98%;
    
    --popover: 48 8% 28%;
    --popover-foreground: 0 0% 98%;
    
    --primary: 120 60% 35%; /* Verde oscuro para modo oscuro */
    --primary-foreground: 0 0% 100%;
    
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    
    --muted: 48 8% 28%; /* Beige oscuro */
    --muted-foreground: 240 5% 64.9%;
    
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --success: 142 71% 31%;
    --success-foreground: 0 0% 100%;

    --warning: 38 92% 40%;
    --warning-foreground: 0 0% 100%;
    
    --border: 48 8% 35%;
    --input: 48 8% 32%;
    --ring: 120 60% 35%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .bg-delinquent {
    background-color: hsl(var(--destructive) / 0.1);
  }
}
