
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root, .light {
    --background: 0 0% 98%; /* Casi blanco */
    --foreground: 240 10% 3.9%; /* Casi negro */
    
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    
    --primary: 120 60% 25%; /* Verde oscuro */
    --primary-foreground: 0 0% 100%; /* Blanco */
    
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 10% 3.9%;
    
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 10% 3.9%;
    
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --success: 142 71% 41%;
    --success-foreground: 0 0% 100%;

    --warning: 38 92% 50%;
    --warning-foreground: 0 0% 100%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 120 60% 25%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 140 13% 10%; /* Starbucks Dark Roast Green */
    --foreground: 48 25% 94%; /* Creamy White */

    --card: 140 13% 13%;
    --card-foreground: 48 25% 94%;
    
    --popover: 140 13% 10%;
    --popover-foreground: 48 25% 94%;
    
    --primary: 158 100% 22%; /* Starbucks Green */
    --primary-foreground: 0 0% 100%;
    
    --secondary: 140 13% 20%;
    --secondary-foreground: 0 0% 98%;
    
    --muted: 140 13% 18%;
    --muted-foreground: 240 5% 64.9%;
    
    --accent: 140 13% 20%;
    --accent-foreground: 0 0% 98%;
    
    --destructive: 0 62.8% 40.6%;
    --destructive-foreground: 0 0% 100%;

    --success: 142 71% 31%;
    --success-foreground: 0 0% 100%;

    --warning: 38 92% 40%;
    --warning-foreground: 0 0% 100%;
    
    --border: 140 13% 20%;
    --input: 140 13% 15%;
    --ring: 158 100% 22%;
  }

  .theme-dark-night {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 4% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 262 84% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 4% 16%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 12%;
    --muted-foreground: 240 5% 65%;
    --accent: 240 4% 16%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 63% 41%;
    --destructive-foreground: 0 0% 100%;
    --success: 142 71% 31%;
    --success-foreground: 0 0% 100%;
    --warning: 38 92% 40%;
    --warning-foreground: 0 0% 100%;
    --border: 240 4% 16%;
    --input: 240 4% 12%;
    --ring: 262 84% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .bg-delinquent {
    background-color: hsl(var(--destructive) / 0.1);
  }
}
